<div class="section-5_new" id="cachet">
  <i class="sprite_new sprite_new-s5-img s5-img"></i>
  <ul class="strp-2-ul_new">
    <li>
      <i class="sprite_new sprite_new-strp2-ic-1 strp2-ic-1"></i>
      <p>
        <span>A Better</span><br>
        Sleep At Night
      </p>
      <h4>Recharge Your Mind & Body</h4>
    </li>
    <li>
      <i class="sprite_new sprite_new-strp2-ic-2 strp2-ic-1"></i>
      <p>
        <span>Highest</span><br>
        Potency Formula
      </p>
      <h4>Premium Grade, USA-Grown Hemp</h4>
    </li>
    <li>
      <i class="sprite_new sprite_new-strp2-ic-3 strp2-ic-1"></i>
      <p>
        <span>Synergistic</span><br>
        Formula
      </p>
      <h4>Support Healthy Sleep Cycles</h4>
    </li>
    <li>
      <i class="sprite_new sprite_new-strp2-ic-4 strp2-ic-1"></i>
      <p>
        <span>Wake Up</span><br>
        Recharged
      </p>
      <h4>Better Sleep Improves Your Energy</h4>
    </li>
  </ul>
</div>
<style>
    .section-5_new{
  	width: 100%;
  	background:#fff;
  	padding: 20px 0;
  }
  .pad-3{
      padding: 32px 110px 20px;
  }
  .s5-img{
  	max-width:100%;
  	vertical-align:top;
  	position:relative;
  	z-index:1;
  	}
  .strp-2-ul_new{
  	max-width: 1040px;
  	width: 100%;
  	vertical-align:top;
  	margin-top:-64px;
  	display: flex;
  	list-style-type: none;
      margin: -63px auto 0;
  	}
  .strp-2-ul_new li{

  	width:23%;
  	margin:0 1%;
  	position: relative;
  	padding: 40px 10px;
  	border:1px solid #c6e1d6;
  	}
  .strp-2-ul_new li p {

  	width: 100%;
  	color:#535353;
  	font-size:25px;
  	line-height:32px;
  	font-weight:bold;
  	text-align: center;
  	/* font-family: 'Calibre'; */
  	}
  .strp-2-ul_new li p span{
  	color:#3a3a3c;
  	}
  .strp2-ic-1{
  	display:inline-block;
  	max-width:100%;
  	margin-bottom:10px;
  	}
  .strp-2-ul_new li h4{

  	width:100%;
  	font-weight:normal;
  	font-size:22px;
  	line-height:28px;
  	padding-top:25px;
  	position:relative;
  	text-align: center;
  	font-family: 'Calibre';
  	}
  .strp-2-ul_new li h4:before{
  	position:absolute;
  	content:'';
  	width:50%;
  	left:25%;
  	top:16px;
  	height:1px;
  	background:#CCC;
  	}
  	.sprite_new-s5-img {
  		width: 191px;
  		height: 191px;
  		background-position: -698px -225px;
  		max-width: 100%;
  		position: relative;
  		margin: 0 auto;
  		display: block;
  	}
  	.sprite_new {
  		background-image: url(//cdn.shopify.com/s/files/1/0555/4300/5364/files/download-2.png?v=1673323785);
  		background-repeat: no-repeat;
  	}
  	.sprite_new_new {
  		background-image: url(//cdn.shopify.com/s/files/1/0555/4300/5364/files/download-2.png?v=1673323785);
  		background-repeat: no-repeat;
  	}
  	.sprite_new-strp2-ic-1 {
  		width: 49px;
  		height: 49px;
  		background-image: url(//cdn.shopify.com/s/files/1/0555/4300/5364/files/icon1_300x_4bd372a4-f28b-450b-9f8c-74405f67890c.png?v=1673324031);
  		background-size:contain;
  		display: block;
  		margin: 0 auto 10px;
  	}
  	.sprite_new-strp2-ic-2 {
  		width: 49px;
  		height: 49px;
  		background-image: url(//cdn.shopify.com/s/files/1/0555/4300/5364/files/icon2_100x_0a90116c-d073-489b-85d9-e95687645397.png?v=1673324031);
  		background-size:contain;
  		display: block;
  		margin: 0 auto 10px;;
  	}

  	.sprite_new-strp2-ic-3 {
  		width: 49px;
  		height: 49px;
  		background-image: url(//cdn.shopify.com/s/files/1/0555/4300/5364/files/icon4_100x_e715776f-78cf-4506-9cf1-8925f4936b12.png?v=1673324030);
  		background-size:contain;
  		display: block;
  		margin: 0 auto 10px;;
  	}

  	.sprite_new-strp2-ic-4{
  		width: 49px;
  		height: 49px;
  		background-image: url(//cdn.shopify.com/s/files/1/0555/4300/5364/files/icon3_300x_cb8027c0-ba99-4db2-a1ab-dfa150d77b3e.png?v=1673324031);
  		background-size:contain;
  		display: block;
  		margin: 0 auto 10px;
  	}

  	@media (max-width: 1180px){
  		.strp-2-ul_new{
  			max-width: 1000px;
  		}
  	}
  	@media only screen and (max-width: 1185px){
  		.strp-2-ul_new {
  			padding: 0 0;
  		}
  	}

  	@media only screen and (max-width: 1023px){
  		.strp-2-ul_new li p {
  			font-size: 24px;
  			line-height: 27px;
  		}
  		.strp-2-ul_new li {
  			width: 24%;
  			margin: 0 0.5%;
  			padding: 40px 5px 30px;
  		}
  		.strp-2-ul_new li h4 {
  			font-size: 20px;
  			line-height: 24px;
  		}
  	}
  	@media (max-width: 991px){
  		.strp-2-ul_new{
  			max-width: 750px;
  		}
  	}
  	@media (max-width: 767px){
  		.strp-2-ul_new{
  			margin-top: 10px;
  			max-width:580px;
  			flex-direction: column;
  		}
  		.strp-2-ul_new li {
  			width: 100%;
  			margin: 15px auto 0;
  			padding: 20px 0px;
  		}
  	}
  	@media (max-width: 580px){
  		.strp-2-ul_new{
  			max-width:400px;
  		}
  		.strp-2-ul_new li {
  			width: 90%;
  		}
  	}
  	@media (max-width: 400px){
  		.strp-2-ul_new{
  			max-width:320px;
  		}
  	}
  .abs_lower_prc{
  	position: absolute;
  	top: -1px;
  	left: -7px;
  	max-width: 100px;
  }
</style>
{% schema %}
{
  "name": "Calmex Image Section",
  "settings": []
}
{% endschema %}
