<div role="tablist" class="mt-10 component-accordion" data-component="accordion" style="margin-bottom: 20px;">
<div class="container px-5">
<div class="row">
<div class="col-12 col-lg-10 offset-lg-1">
<div class="card mb-5"><header role="tab" class="card-header p-0"><a role="button" tabindex="0" target="_self" href="#" class="text-left btn-sm btn-plus px-7 py-5 accordion__label btn-standard btn-block collapsed" aria-controls="accordion-tab-5ef535f4138d6" aria-expanded="false"> ﻿How long does it take to receive my shipment? </a></header>
<div id="accordion-tab-5ef535f4138d6" class="collapse" role="tabpanel">
<div class="card-body">
<div class="accordion__body">
<p>For regular delivery you can expect a delivery time of 5-7 business days after purchase. For expedited shipping you can expect a delivery time of 3-5 business days. Tracking information from the carrier typically takes 24 hrs to update. Please note that processing your order may take up to 1 business day. We currently do not offer any next day delivery options.</p>
</div>
</div>
</div>
</div>
<div class="card mb-5"><header role="tab" class="card-header p-0"><a role="button" tabindex="0" target="_self" href="#" class="text-left btn-sm btn-plus px-7 py-5 accordion__label btn-standard btn-block collapsed" aria-controls="accordion-tab-5ef535f4138d7" aria-expanded="false"> Does Purity Hemp Naturals ship to all 50 states? </a></header>
<div id="accordion-tab-5ef535f4138d7" class="collapse" role="tabpanel">
<div class="card-body">
<div class="accordion__body">
<p>Yes. We ship product to all 50 states. The United States Farm Bill of 2018 classified industrial hemp as containing less than 0.3% THC. Because Purity Hemp Naturals products contain less than 0.3% THC, we are allowed by U.S. federal law to conveniently ship to your doorstep.</p>
</div>
</div>
</div>
</div>
<div class="card mb-5"><header role="tab" class="card-header p-0"><a role="button" tabindex="0" target="_self" href="#" class="text-left btn-sm btn-plus px-7 py-5 accordion__label btn-standard btn-block collapsed" aria-controls="accordion-tab-5ef535f4138d9" aria-expanded="false"> Can I purchase your Hemp Oil Extract products in a local store? </a></header>
<div id="accordion-tab-5ef535f4138d9" class="collapse" role="tabpanel">
<div class="card-body">
<div class="accordion__body">
<p>No. At this time we only offer our products at www.purityhempnaturals.com, and Amazon.</p>
</div>
</div>
</div>
</div>
<div class="card mb-5"><header role="tab" class="card-header p-0"><a role="button" tabindex="0" target="_self" href="#" class="text-left btn-sm btn-plus px-7 py-5 accordion__label btn-standard btn-block collapsed" aria-controls="accordion-tab-5ef535f4138da" aria-expanded="false"> Can I return the product? </a></header>
<div id="accordion-tab-5ef535f4138123d9" class="collapse" role="tabpanel">
<div class="card-body">
<div class="accordion__body">
<p>Yes, our products are backed by a 30 day Money Back Guarantee (less shipping &amp; handling) from date of delivery.</p>
</div>
</div>
</div>
</div>
<div class="card mb-5"><header role="tab" class="card-header p-0"><a role="button" tabindex="0" target="_self" href="#" class="text-left btn-sm btn-plus px-7 py-5 accordion__label btn-standard btn-block collapsed" aria-controls="accordion-tab-5ef535f4138db" aria-expanded="false"> Can I use more than 3 pain relief patches per area? </a></header>
<div id="accordion-tab-5ef535f4138db" class="collapse" role="tabpanel">
<div class="card-body">
<div class="accordion__body">
<p>Absolutely. We recommend 3 patches to start but some people have reported they feel relief with less. We understand everyone has different levels of pain and what will work for one person may not work for the next. To start you can increase by 1 patch every 20-30 minutes until you feel the desired pain relief.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<style><!--
.accordion__body{
display:none;
}

{
	font-family: 'Roboto', sans-serif;
	max-width: 1170px;
	margin: 0 auto;
}
 .text-center{
	text-align: center;
}
 .text-center h1{
	font-size: 52px;
	margin-top: 50px;
	margin-bottom: 40px;
}
 .component-wysiwyg h5{
	font-size: 24px;
	color: #000;
}
 .component-wysiwyg h5 a{
	color: #000;
	text-decoration: unset;
}
 .component-wysiwyg h5 a:hover{
	color: #b752b7;
}
 .offset-lg-1{
	margin: 50px 30px 70px;
}
 .offset-lg-1 .card{
	border: 1px solid rgba(34,34,34,.125);
	margin-bottom: 20px;
	border-radius: 5px;
}
 .offset-lg-1 .card a{
	text-decoration: unset;
	font-size: 18px;
	color: #222222;
	outline: unset;
}
 .offset-lg-1 h4{
	font-size: 26px;
	margin-bottom: 20px;
}
 .offset-lg-1 header{
	border-bottom: 1px solid rgba(34,34,34,.125);
	cursor: pointer;
	background-color: rgba(34,34,34,.03);
    padding: 20px 30px;
    position: relative;
}
 .offset-lg-1 .card>div{
	height: auto;
	transition: 1s;
	display: flex;
}
 .offset-lg-1 .card>div.more_height.active{
	height: auto;
}
 .offset-lg-1 .card>div.active{
	display: flex;	
	height: auto;
	transition: 0.5s;
}
 .offset-lg-1 .card .accordion__body{
	display: none;
}
 .offset-lg-1 .card .accordion__body p{
	font-size: 18px;
	margin-bottom: 10px;
	line-height: 25px;
}
 .offset-lg-1 .card .accordion__body p>em{
	font-style: italic;
}
 .offset-lg-1 .card .accordion__body{
	margin: 15px;
}
.offset-lg-1 header.minus:after {
	content: "-";
}

body .component-accordion a, body .component-accordion a:hover{

background-color:transperent !important;
}
.rte a:not(.btn){
border-bottom:0px !important;
}
--></style>
<script>// <![CDATA[
$('.p-0 a').click(function(event){
            event.preventDefault();
        })
        $('.prevdef').click(function(event){
            event.preventDefault();
        })
        
        $('.offset-lg-1 .card header').click(function(){
            $(this).parent().find('div.collapse .accordion__body').slideToggle();
            $(this).parent().find('header').toggleClass('minus');
        })
        $('.clickacc').click(function(){
            $(this).parent().find('.accordion__body').slideToggle();
            $(this).parent().find('.bi-dash').toggle();
            $(this).parent().find('.bi-plus').toggle();
        })
// ]]></script>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}