<section class="header">
  <div class='banner_top'>
    <div class="header__banner">
      <a href="/" class="banner_bg"></a>
    </div>
  </div>

  <div class='site_nav_sticky sticky'>
    <div class='item_menu'>
      {% render 'site-nav', linklist: section.settings.main_linklist, linklistmobile: section.settings.main_linklist_mob, wrapper_class: 'site-nav--centered' %}
    </div>
    <div class='item_menu' style="text-align: center;">
      <div class="header__container">
        <div class="header__logo">
          <a href="/" class="header__link header__link--active">
            <img src="https://cdn.shopify.com/s/files/1/0555/4300/5364/files/logos_6d52dbae-48ca-4352-a543-089d768a7ca4.png?v=1689550352" 
                 class="header__link_img" 
                 width="180" 
                 height="65" 
                 alt="{{ shop.name | escape }}"
                 style="display: inline-block; vertical-align: middle;">
          </a>
        </div>
      </div>
    </div>
    <div class='item_menu' style="text-align: right;">
      <div class="header__cart">
        <div class="header_info__text" style="display: inline-block; margin-right: 10px;">
          Need Help? Call or Text (970) 718-2801
        </div>
        <div class="header__menu" style="display: inline-block; vertical-align: middle;">
          <a href="/cart" class="cart_link">
            <img src="https://cdn.shopify.com/s/files/1/0555/4300/5364/files/bag_black.svg?v=1688878524" 
                 class="header__svg header__svg--active" 
                 width="24" 
                 height="24" 
                 alt="Cart"
                 style="vertical-align: middle;">
            <div class="header__menu_count" data-cart-count-bubble data-cart-count></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* This forces the 3 items (Nav, Logo, Cart) to stay in a perfect horizontal line */
  .site_nav_sticky {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
    min-height: 80px;
  }

  .site_nav_sticky .item_menu {
    flex: 1; /* Gives each section equal width so the logo stays centered */
  }

  .header .banner_bg {
    background-image:url({{section.settings.header_desktop | img_url: '1000x70'}});
    width:1000px;
    height:70px;
    background-size:contain;
    display:flex;
    margin: 0 auto;
  }

  @media(max-width:1240px) {
    .header .banner_bg {
      background-image:url({{section.settings.header_tablet | img_url: '600x70'}});
      width:600px;
      height:70px;
      background-size:cover;
    }      
  }

  @media(max-width:830px) {
    .header .banner_bg {
      background-image:url({{section.settings.header_mobile | img_url: '500x140'}});
      width: 258px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 50%;
      margin-left: 10px;
    }
    .header_info__text { display: none; }
    .site_nav_sticky { flex-direction: row; flex-wrap: nowrap; }
  }
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Images for Header",
      "info":"Header Images for both mobile and desktop"
    },
    {
      "type": "image_picker",
      "id": "header_desktop",
      "label": "Header Desktop Image "
    },
    {
      "type": "image_picker",
      "id": "header_tablet",
      "label": "Header Tablet Image "
    },
    {
      "type": "image_picker",
      "id": "header_mobile",
      "label": "Header Mobile Image "
    },
    {
      "type": "header",
      "content": "Menu Settings"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist_mob",
      "label": "Menu Mobile",
      "default": "main-menu"
    }
  ]
}
{% endschema %}