{% comment %} <h2 class="main__banner__text" style="margin-top:20px;">Wellness for Mind and Body</h2>
<div class="main__banner__grid">
  <div class="main__banner__item">
    <img src="//cdn.shopify.com/s/files/1/0555/4300/5364/files/5_star_review.svg?v=1616533871" class="main__banner__item-img">
    <p class="main__banner__item-text">5 STAR REVIEWS</p>
  </div>
  <div class="main__banner__item">
    <img src="//cdn.shopify.com/s/files/1/0555/4300/5364/files/pharmaceutical.svg?v=1616533871" class="main__banner__item-img">
    <p class="main__banner__item-text">ADVANCED FORMULATIONS</p>
  </div>
  <div class="main__banner__item">
    <img src="//cdn.shopify.com/s/files/1/0555/4300/5364/files/lab_tested.svg?v=1616533871" class="main__banner__item-img">
    <p class="main__banner__item-text">THIRD PARTY TESTED</p>
  </div>
  <div class="main__banner__item">
    <img src="//cdn.shopify.com/s/files/1/0555/4300/5364/files/100_organic.svg?v=1616533871" class="main__banner__item-img">
    <p class="main__banner__item-text">100% ORGANIC</p>
  </div>
</div> {% endcomment %}
<h2 class="main__banner__with__bold" style="margin-top:20px;">Our Most <br><b>Popular Products</b></h2>

{% schema %}
  {
    "name": "Wellness For Mind STATIC",
    "settings": []
  }
{% endschema %}