{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div class="main__promise container">
  <h2 class="main__promise__text">OUR PROMISES</h2>
  <div class="main__promise__item">
    <img src="https://cdn.shopify.com/s/files/1/0555/4300/5364/files/wildflower-ingredients_180x_a7db6aae-8d16-45bf-8863-b3a255dcc9f6.png?v=1616529209">
    <p class="main__promise__item__head">100% Natural </p>
    <p class="main__promise__item__subhead">All Purity products are formulated from plant-derived and natural ingredients.</p>
  </div>
  <div class="main__promise__item">
    <img src="https://cdn.shopify.com/s/files/1/0555/4300/5364/files/icons_V3-02_180x-1.png?v=1616529209">
    <p class="main__promise__item__head">Effective</p>
    <p class="main__promise__item__subhead">Our plant-based formula uses only the highest quality extracts for optimum results</p>
  </div>
  <div class="main__promise__item">
    <img src="https://cdn.shopify.com/s/files/1/0555/4300/5364/files/icons_V3-03_180x-1.png?v=1616529209">
    <p class="main__promise__item__head">100% Satisfaction </p>
    <p class="main__promise__item__subhead">Enjoy a 100% Satisfaction Guarantee on all products purchase through our site.</p>
  </div>
  <div class="main__promise__item">
    <img src="https://cdn.shopify.com/s/files/1/0555/4300/5364/files/icons_V4-04_180x-1.png?v=1616529209">
    <p class="main__promise__item__head">Without Side Effects</p>
    <p class="main__promise__item__subhead">Has no harmful side effects on the body and is suitable for all body types.</p>
  </div>
</div>
