<div class="section-5" id="cachet">
  <i class="sprite sprite-s5-img s5-img"></i>
  <ul class="strp-2-ul">
    <li>
      <i class="sprite sprite-strp2-ic-1 strp2-ic-1"></i>
      <p>
        <span>Transdermal</span><br>
        Delivery System
      </p>
      <h4>Penetrates deep for quick action</h4>
    </li>
    <li>
      <i class="sprite sprite-strp2-ic-2 strp2-ic-1"></i>
      <p>
        <span>Highest</span><br>
        Potency Formula
      </p>
      <h4>Premium Grade, USA-Grown Hemp</h4>
    </li>
    <li>
      <i class="sprite sprite-strp2-ic-3 strp2-ic-1"></i>
      <p>
        <span>Superior</span><br>
        Bio-Availability
      </p>
      <h4>Maximum absorption technology</h4>
    </li>
    <li>
      <i class="sprite sprite-strp2-ic-4 strp2-ic-1"></i>
      <p>
        <span>Topical</span><br>
        Formula
      </p>
      <h4>Safe &amp; Non-Habit Forming Alternative</h4>
    </li>
  </ul>
</div>
{% schema %}
{
  "name": "Product Image Section",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
